body {
  font-family: Arial;
  padding: 30px;
  background: url("background.jpeg") no-repeat center center fixed;
  background-size: cover;
}

#transcript, #summary {
  background: white;
  padding: 15px;
  margin-top: 10px;
  border-radius: 10px;
  max-height: 250px;
  overflow-y: auto;
}

.highlight {
  background-color: yellow;
  font-weight: bold;
  padding: 2px 4px;
  border-radius: 4px;
}

.interaction {
  background-color: lightgreen;
  font-weight: bold;
  padding: 2px 4px;
  border-radius: 4px;
}

button {
  padding: 8px 12px;
  margin-right: 5px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.emphasis {
  background-color: #ffcccc;
  font-weight: bold;
  padding: 2px 4px;
  border-radius: 4px;
}


h1 {
  color: pink;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
}

h3 {
  color: pink;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}